[Unit]
Description=Main website service
After=network-online.target

[Service]
User=debian
Group=debian
Type=simple
# in a next example this should be done for a build step...
WorkingDirectory=/home/debian/monorepo/code
ExecStart=node /home/debian/monorepo/code/main.js

[Install]
WantedBy=multi-user.target
